# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment and Authentication Cache
.env
.cache

# Application Log
cadence_sync.log

# Build & Compilation outputs
build/
dist/
*.spec

# System/IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
